apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "dt_env_url": "https://environment.live.dynatrace.com",
      "dt_api_token": "dt.your.api.token"
    }
